body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#40e0d0;
}

.calculator {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color:#63c5da;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Set max-width for responsiveness */
  width: 100%;
}

#display {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 5px;
}

button {
  padding: 15px;
  font-size: 20px;
  background-color: #0a1172;
  color:brown;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

/* Responsive Styling */
@media screen and (max-width: 600px) {
  .buttons {
      grid-template-columns: repeat(3, 1fr);
  }
}
